In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv("iris.csv")
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 4].values

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

      Setosa       1.00      1.00      1.00         9
  Versicolor       0.91      0.91      0.91        11
   Virginica       0.90      0.90      0.90        10

    accuracy                           0.93        30
   macro avg       0.94      0.94      0.94        30
weighted avg       0.93      0.93      0.93        30

In [2]:
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})

Accuracy :  0.9333333333333333

In [17]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv("cancer.csv")
dataset.head()
dataset.info()
X = dataset.iloc[:, 2:35].values
print(X)
y = dataset.iloc[:, 1].values
print(y)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   State                                         51 non-null     object
 1   Total.Rate                                    51 non-null     float64
 2   Total.Number                                  51 non-null     float64
 3   Total.Population                              51 non-null     float64
 4   Rates.Age.< 18                                51 non-null     float64
 5   Rates.Age.18-45                               51 non-null     float64
 6   Rates.Age.45-64                               51 non-null     float64
 7   Rates.Age.> 64                                51 non-null     float64
 8   Rates.Age and Sex.< 18.Female                 51 non-null     float64
 9   Rates.Age and Sex.< 18.Male                   51 non-null     float64
 10  Rates.Age and Sex.18 - 45.Female              51 non-null     float64
 11  Rates.Age and Sex.18 - 45.Male                51 non-null     float64
 12  Rates.Age and Sex.45 - 64.Female              51 non-null     float64
 13  Rates.Age and Sex.45 - 64.Male                51 non-null     float64
 14  Rates.Age and Sex.> 64.Female                 51 non-null     float64
 15  Rates.Age and Sex.> 64.Male                   51 non-null     float64
 16  Rates.Race.White                              51 non-null     float64
 17  Rates.Race.White non-Hispanic                 51 non-null     float64
 18  Rates.Race.Black                              51 non-null     float64
 19  Rates.Race.Asian                              51 non-null     float64
 20  Rates.Race.Indigenous                         51 non-null     float64
 21  Rates.Race and Sex.Female.White               51 non-null     float64
 22  Rates.Race and Sex.Female.White non-Hispanic  51 non-null     float64
 23  Rates.Race and Sex.Female.Black               51 non-null     float64
 24  Rates.Race and Sex.Female.Black non-Hispanic  51 non-null     float64
 25  Rates.Race and Sex.Female.Asian               51 non-null     float64
 26  Rates.Race and Sex.Female.Indigenous          51 non-null     float64
 27  Rates.Race and Sex.Male.White                 51 non-null     float64
 28  Rates.Race and Sex.Male.White non-Hispanic    51 non-null     float64
 29  Rates.Race and Sex.Male.Black                 51 non-null     float64
 30  Rates.Race and Sex.Male.Black non-Hispanic    51 non-null     float64
 31  Rates.Race and Sex.Male.Asian                 51 non-null     float64
 32  Rates.Race and Sex.Male.Indigenous            51 non-null     float64
 33  Rates.Race.Hispanic                           51 non-null     float64
 34  Rates.Race and Sex.Female.Hispanic            51 non-null     float64
 35  Rates.Race and Sex.Male.Hispanic              51 non-null     float64
 36  Types.Breast.Total                            51 non-null     float64
 37  Types.Breast.Age.18 - 44                      51 non-null     float64
 38  Types.Breast.Age.45 - 64                      51 non-null     float64
 39  Types.Breast.Age.> 64                         51 non-null     float64
 40  Types.Breast.Race.White                       51 non-null     float64
 41  Types.Breast.Race.White non-Hispanic          51 non-null     float64
 42  Types.Breast.Race.Black                       51 non-null     float64
 43  Types.Breast.Race.Black non-Hispanic          51 non-null     float64
 44  Types.Breast.Race.Asian                       51 non-null     float64
 45  Types.Breast.Race.Indigenous                  51 non-null     float64
 46  Types.Breast.Race.Hispanic                    51 non-null     float64
 47  Types.Colorectal.Total                        51 non-null     float64
 48  Types.Colorectal.Age and Sex.Female.18 - 44   51 non-null     float64
 49  Types.Colorectal.Age and Sex.Male.18 - 44     51 non-null     float64
 50  Types.Colorectal.Age and Sex.Female.45 - 64   51 non-null     float64
 51  Types.Colorectal.Age and Sex.Male.45 - 64     51 non-null     float64
 52  Types.Colorectal.Age and Sex.Female.> 64      51 non-null     float64
 53  Types.Colorectal.Age and Sex.Male.> 64        51 non-null     float64
 54  Types.Colorectal.Race.White                   51 non-null     float64
 55  Types.Colorectal.Race.White non-Hispanic      51 non-null     float64
 56  Types.Colorectal.Race.Black                   51 non-null     float64
 57  Types.Colorectal.Race.Black non-Hispanic      51 non-null     float64
 58  Types.Colorectal.Race.Asian                   51 non-null     float64
 59  Types.Colorectal.Race.Indigenous              51 non-null     float64
 60  Types.Colorectal.Race.Hispanic                51 non-null     float64
 61  Types.Lung.Total                              51 non-null     float64
 62  Types.Lung.Age and Sex.Female.18 - 44         51 non-null     float64
 63  Types.Lung.Age and Sex.Male.18 - 44           51 non-null     float64
 64  Types.Lung.Age and Sex.Female.45 - 64         51 non-null     float64
 65  Types.Lung.Age and Sex.Male.45 - 64           51 non-null     float64
 66  Types.Lung.Age and Sex.Female.> 64            51 non-null     float64
 67  Types.Lung.Age and Sex.Male.> 64              51 non-null     float64
 68  Types.Lung.Race.White                         51 non-null     float64
 69  Types.Lung.Race.White non-Hispanic            51 non-null     float64
 70  Types.Lung.Race.Black                         51 non-null     float64
 71  Types.Lung.Race.Black non-Hispanic            51 non-null     float64
 72  Types.Lung.Race.Asian                         51 non-null     float64
 73  Types.Lung.Race.Indigenous                    51 non-null     float64
 74  Types.Lung.Race.Hispanic                      51 non-null     float64
dtypes: float64(74), object(1)
memory usage: 30.0+ KB
[[7.1529000e+04 3.3387205e+07 2.0000000e+00 ... 8.8300000e+01
  6.6500000e+01 5.8300000e+01]
 [6.3610000e+03 4.9661800e+06 1.7000000e+00 ... 2.8490000e+02
  8.8800000e+01 7.3100000e+01]
 [7.4286000e+04 4.4845598e+07 2.5000000e+00 ... 1.3950000e+02
  1.2850000e+02 1.0650000e+02]
 ...
 [3.2950000e+04 1.2940212e+07 2.5000000e+00 ... 0.0000000e+00
  3.9500000e+01 0.0000000e+00]
 [7.8578000e+04 3.9788899e+07 2.2000000e+00 ... 2.5180000e+02
  1.0020000e+02 7.9200000e+01]
 [6.6030000e+03 3.9316240e+06 0.0000000e+00 ... 2.3710000e+02
  1.1890000e+02 9.6900000e+01]]
[214.2 128.1 165.6 223.9 150.9 139.  190.5 210.2 182.1 219.2 159.4 166.
 162.1 189.2 202.7 210.3 188.9 226.3 202.9 239.1 179.3 197.8 205.3 178.4
 211.4 211.2 196.1 187.5 167.9 197.9 189.9 163.2 183.2 188.7 189.1 217.8
 209.4 199.1 227.7 211.2 202.6 196.2 213.1 145.8  98.5 211.6 177.1 175.9
 254.6 197.5 167.9]

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

      Setosa       1.00      1.00      1.00        11
  Versicolor       1.00      1.00      1.00         8
   Virginica       1.00      1.00      1.00        11

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv('iris.csv')
X = dataset.iloc[:,:4].values
y = dataset['variety'].values
dataset.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test) 
y_pred

array(['Virginica', 'Virginica', 'Versicolor', 'Setosa', 'Virginica',
       'Setosa', 'Versicolor', 'Virginica', 'Setosa', 'Versicolor',
       'Versicolor', 'Virginica', 'Virginica', 'Setosa', 'Virginica',
       'Virginica', 'Versicolor', 'Versicolor', 'Virginica', 'Versicolor',
       'Setosa', 'Versicolor', 'Setosa', 'Virginica', 'Virginica',
       'Versicolor', 'Setosa', 'Versicolor', 'Virginica', 'Setosa'],
      dtype='<U10')

In [7]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.9666666666666667

array([[ 8,  0,  0],
       [ 0, 10,  1],
       [ 0,  0, 11]])

In [8]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

   Real Values Predicted Values
0    Virginica        Virginica
1    Virginica        Virginica
2   Versicolor       Versicolor
3       Setosa           Setosa
4    Virginica        Virginica
5       Setosa           Setosa
6   Versicolor       Versicolor
7    Virginica        Virginica
8       Setosa           Setosa
9   Versicolor       Versicolor
10  Versicolor       Versicolor
11   Virginica        Virginica
12  Versicolor        Virginica
13      Setosa           Setosa
14   Virginica        Virginica
15   Virginica        Virginica
16  Versicolor       Versicolor
17  Versicolor       Versicolor
18   Virginica        Virginica
19  Versicolor       Versicolor
20      Setosa           Setosa
21  Versicolor       Versicolor
22      Setosa           Setosa
23   Virginica        Virginica
24   Virginica        Virginica
25  Versicolor       Versicolor
26      Setosa           Setosa
27  Versicolor       Versicolor
28   Virginica        Virginica
29      Setosa           Setosa

In [10]:
import os
import numpy as np
import pandas as pd
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree, metrics, model_selection

data = pd.read_csv('car.csv',names=['buying','maint','doors','persons','lug_boot','safety','class'])
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [12]:
data['class'],class_names = pd.factorize(data['class'])

print(class_names)
print(data['class'].unique())

Index(['unacc', 'acc', 'vgood', 'good'], dtype='object')
[0 1 2 3]

In [13]:
data['buying'],_ = pd.factorize(data['buying'])
data['maint'],_ = pd.factorize(data['maint'])
data['doors'],_ = pd.factorize(data['doors'])
data['persons'],_ = pd.factorize(data['persons'])
data['lug_boot'],_ = pd.factorize(data['lug_boot'])
data['safety'],_ = pd.factorize(data['safety'])
data.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       0      0      0        0         0       0      0
1       0      0      0        0         0       1      0
2       0      0      0        0         0       2      0
3       0      0      0        0         1       0      0
4       0      0      0        0         1       1      0

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   int64
 1   maint     1728 non-null   int64
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   int64
 5   safety    1728 non-null   int64
 6   class     1728 non-null   int64
dtypes: int64(7)
memory usage: 94.6 KB

In [15]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

# split data randomly into 70% training and 30% test
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=0)

# train the decision tree
dtree = tree.DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)
dtree.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)

In [16]:
# use the model to make predictions with the test data
y_pred = dtree.predict(X_test)
# how did our model perform?
accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

Accuracy: 0.82

In [18]:
count_misclassified = (y_test != y_pred).sum()
print('Misclassified samples: {}'.format(count_misclassified))

Misclassified samples: 96